---
import CambioAlgo from "../components/CambioAlgo.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Instituto Tecnológico de Culiacán – Cambiar Clave">
    <main>
        <CambioAlgo
        p="Cambiar Contraseña"
        a="Contraseña Actual"
        a2="Contraseña Nueva"
        a3="Confirmar Contraseña"
        />
    </main>
</Layout>