---
import CambioAlgo from "../components/CambioAlgo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Instituto Tecnológico de Culiacán – Cambiar Correo">
  <main>
    <CambioAlgo 
    p="Cambiar Correo"
    a="Correo Actual"
    a2="Correo Nuevo"
    a3="Confirmar Correo"
    />
  </main>
</Layout>
