---
import MainInfor from '../components/MainInfor.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Instituto Tecnológico de Culiacán – Mi Panel">
	<main>
		<MainInfor/>
	</main>
</Layout>
