---
import MateriasHov from "../components/MateriasHov.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Instituto Tecnológico de Culiacán – Reinscripcíon">
    <main class="flex justify-between">
      <div class="ml-32">
        <h1>REINSCRIPCION</h1>
      </div>
      <div >
        <MateriasHov/>
        <MateriasHov/>
      </div>
    </main>

</Layout>