---
interface Props {
    p: String;    
    a: String;
    a2: String;
    a3: String;
}
const { p , a , a2 ,a3 } = Astro.props
console.log("hola")
---
<div>
    <!-- component -->
<div class="py-6">
    <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
          <div class="hidden lg:block lg:w-1/2 bg-cover" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8_-zc1gnNoU0vbM4q4CMgN9g3hJBjTx3qltfE2irvexFKuT_j7WAjiocLeSb_ePDxD3k')"></div>
          <div class="w-full p-8 lg:w-1/2">
              <h2 class="text-2xl font-semibold text-gray-700 text-center">Hola!, {}</h2>
              <p class="text-xl text-gray-600 text-center">{p}</p>
              <a href="#" class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
              </a>
              <div class="mt-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2">{a}</label>
                  <input class=" focus:outline-none focus:shadow-outline border border-black rounded py-2 px-4 block w-full appearance-none" type="password">
              </div>
              <div class="mt-4">
                  <div class="flex justify-between">
                      <label class="block text-gray-700 text-sm font-bold mb-2">{a2}</label>
                  </div>
                  <input class="focus:outline-none focus:shadow-outline border border-black rounded py-2 px-4 block w-full appearance-none" type="password">
              </div>
              <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">{a3}</label>
                </div>
                <input class=" focus:outline-none focus:shadow-outline border border-black rounded py-2 px-4 block w-full appearance-none" type="password">
            </div>
              <div class="mt-8">
                  <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Login</button>
              </div>
          
          </div>
      </div>
  </div>
</div>