---

---

<!-- component -->
<!-- This is an example component -->
<div class=" ">
    <div class=" text-black py-10">
        <div class="text-center">
            <h3 class="text-3xl font-mono font-extrabold "> Recreacíon de la plataforma SITEC </h3>
            <p> Toda la recreacíon de la pagina es con fines educativos</p>
            <p>Cabe mencionar que en ningun momento se esta recapitulando datos</p> 
        </div>
    </div>
</div>