---
---

<main>
  <div class="flex">
    <img
      src="https://sitec.culiacan.tecnm.mx/wp-content/themes/fuente/images/LogoTNM.png"
      alt="Tecnologico de culiacan"
      class="w-[30%] justify-center m-auto"
    />
    <img
      src="https://sitec.culiacan.tecnm.mx/wp-content/themes/fuente/images/LogoTecNM_Horizontal.svg"
      alt="Tecnologico de culiacan"
      class="w-[30%] justify-center m-auto"
    />
    <img
      src="https://sitec.culiacan.tecnm.mx/wp-content/plugins/website-logo/images/Logo-itc.png"
      alt="Tecnologico de culiacan"
      class="w-[10%] justify-center m-auto"
    />
  </div>
  <nav class="flex flex-col aling-center text-center justify-between gap-6">
    <ul class="py-5 w-full">
      <li>
        <a
          class="px-4 hover:text-blue-950 font-mono font-extrabold  hover:border-[2px] hover:border-black cursor-pointer"
          href="/">Mi Plantel</a
        >
        <a
          class="px-4 hover:text-blue-950 font-mono font-extrabold hover:border-[2px] hover:border-black cursor-pointer"
          href="/Clave">Cambiar Clave</a
        >
        <a
          class="px-4 hover:text-blue-950 font-mono font-extrabold  hover:border-[2px] hover:border-black cursor-pointer"
          href="/Correo
          ">Cambiar Email</a
        >
        <a
          class="px-4 hover:text-blue- font-mono font-extrabold  hover:border-[2px] hover:border-black cursor-pointer"
          href="
          Reinscripccion">Reinscripcíon</a
        >
        <a
          class="px-4 hover:text-blue-950 font-mono font-extrabold  hover:border-[2px] hover:border-black cursor-pointer"
          href="
          Avance">Avance Ciclo</a
        >
        <a
          class="px-4 hover:text-blue-950 font-mono font-extrabold  hover:border-[2px] hover:border-black cursor-pointer"
          href="
          Kardex">Kardex</a
        >
        <a
          class="px-4 hover:text-blue-950 font-mono font-extrabold  hover:border-[2px] hover:border-black cursor-pointer"
          href="
          Log">Log</a
        >
        <a
          class="px-4 hover:text-blue-950 font-mono font-extrabold  hover:border-[2px] hover:border-black cursor-pointer"
          href="https:sitec.culiacan.tecnm.mx"
          target="_blank">Salir Sistema</a
        >
      </li>
    </ul>
  </nav>
</main>
